html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;

  li {
    display: block;
    position: absolute;
    list-style: none;

    a {
      display: block;
      background: #0099ff;
      border: 5px solid #000000;
      height: 120px;
      width: 100px;

      &:focus {
        border-color: #ff0000;
      }
    }
  }
}